mixin checkboxButtons(theme, name, items)
  .checkboxButtonsGroup.colomnContener
    - var theme_rich = false
    - if (theme == "rich") theme_rich = true
    each item in items
      - var id = name+"__"+item.value
      .checkboxButtonBox(class=theme_rich?"checkboxButtonBox_theme_rich": "")
        .checkboxButtonBox__field
          input(type="checkbox", name=name, id=id, value=item.value).checkboxButton
          .checkboxButton__checkmark
            div.checkboxButton__checkmarkInnerPoint
        if theme_rich
          .checkboxButtonBox__label.checkboxButtonBox__label_theme_rich
            label(for=id) !{item.label}
              p.checkboxButtonBox__explanation !{item.explanation}
        else
          label(for=id).checkboxButtonBox__label !{item.label}
